@import url("reset.css")

body
  font-family: "Helvetica Neue"
  font-size: 15px
  line-height: 1.5
  font-weight: lighter

h1, h2, h3, h4
  font-weight: normal
  
h1
  font-size: 2em

pre
  font-family: "Courier New"

#container 
  width: 595px
  margin: 35px auto 65px
  padding: 0
  
  > header
    position: relative
      
    dl
      position: absolute
      border: 1px solid #666
      width: 30em
      right: -30em
            
      dt
        display: block
    
      dd
        text-indent: 2em
        margin-bottom: 1em
  
  > nav
    margin-bottom: 1em
    
    a
      display: inline-block
      margin-right: 1em
  
  
  form
    margin-bottom: 1em
    
    input
      margin-left: 1em
      width: 15em