!!! 5
%html{:dir => "ltr", :lang => "en-US"}
  %head
    %meta{:charset => "utf-8"}
    %title css Shooter!
    
    / %link{:href => "http://fonts.googleapis.com/css?family=Quattrocento", :rel => "stylesheet", :type => "text/css"}
    / :css
    /   body {
    /     font-family: 'Quattrocento', serif;
    /   }
      
    %link{:href => "/stylesheets/main.css", :rel => "stylesheet", :type => "text/css"}
    
    %script{:src => "/javascripts/jquery.js"}
    %script{:src => "/javascripts/underscore.js"}
    %script{:src => "/javascripts/backbone.js"}
    
    %script{:src => "/javascripts/application.js"}
    
    %script{:src => "/javascripts/models/target.js"}
    %script{:src => "/javascripts/views/range_view.js"}
    %script{:src => "/javascripts/views/target_view.js"}
    
  %body
  
    #container

      %header
        %h1 css Shooter!
        
      %nav
        
      %article= yield

      :javascript
        Application.initialize();