!!! 5
%html{:dir => "ltr", :lang => "en-US"}
  %head
    %meta{:charset => "utf-8"}
    %title css Shooter!
    
    / %link{:href => "http://fonts.googleapis.com/css?family=Quattrocento", :rel => "stylesheet", :type => "text/css"}
    / :css
    /   body {
    /     font-family: 'Quattrocento', serif;
    /   }
      
    %link{:href => "/stylesheets/main.css", :rel => "stylesheet", :type => "text/css"}
    
    %script{:src => "/javascripts/jquery.js"}
    %script{:src => "/javascripts/underscore.js"}
    %script{:src => "/javascripts/backbone.js"}
    
    %script{:src => "/javascripts/application.js"}
    
    %script{:src => "/javascripts/models/target.js"}
    %script{:src => "/javascripts/views/range_view.js"}
    %script{:src => "/javascripts/views/target_view.js"}
    
  %body
  
    #container

      %header
        %h1 css Shooter!
        %a{ href: "#" } help
        %dl{ style: "display: none;" }
          %dt{ level: 2 } *
          %dd any element

          %dt{ level: 1 } E
          %dd an element of type E

          %dt{ level: 2 } E[foo]
          %dd an E element with a "foo" attribute

          %dt{ level: 2 } E[foo="bar"]
          %dd an E element whose "foo" attribute value is exactly equal to "bar"

          %dt{ level: 2 } E[foo~="bar"]
          %dd an E element whose "foo" attribute value is a list of whitespace-separated values, one of which is exactly equal to "bar"
        
      %nav
        
      %article= yield

      :javascript
        Application.initialize();